{% macro build_galery_item(image) %}

  <div class="card col-lg-4 col-md-3 col-6" style="padding: 5px;">
    <img src="{{image['img']}}" class="card-img-top" alt="Sky Image">
    <div class="card-body">
      <p class="card-text"><b>Clasification: </b>{{image['type']}}</p>
      <p class="card-text"><b>Exposition time: </b>{{image['header'].exposition}} s</p>
      <p class="card-text"><small class="text-muted"><b>Exposition date: </b>{{image['header'].time}}</small></p>
    </div>
  </div>

{% endmacro %}