{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block page_name %}Login{% endblock %}
{% block content %}

<div class="d-flex justify-content-center">
    <form action="/login" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username() }}
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password() }}
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit()}}</p>
        {% if incorrect_login %}
        <span style="color: red;">Incorrect username or password</span>
        {% endif -%}
    </form> 
</div>
  
{% endblock %}