{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block page_name %}Login{% endblock %}
{% block content %}

<div class="d-flex justify-content-center">
    <form action="/login" method="post">
        <label for="username">Username:</label><br>
        <input type="text" id="username" value=""><br><br>

        <label for="password">Password:</label><br>
        <input type="text" id="password" value=""><br><br>

        <input type="submit" value="Login">
    </form> 
</div>
  
{% endblock %}