{% extends "base.html" %}
{% from "form_helper.html" import render_field %}
{% block title %}Login{% endblock %}
{% block page_name %}Login{% endblock %}
{% block content %}

<div class="d-flex justify-content-center">
    <form action="/login" method="post" nocandidates>
        {{ form.hidden_tag() }}
        <p>                
            {{ render_field(form.username, class='form-control input-medium', placeholder='Username') }}
        </p>

        <p>                
            {{ render_field(form.password, class='form-control input-medium', placeholder='Password') }}
        </p>

        <!--<p>{{ form.submit()}}</p> -->
        <button type="submit" class="btn btn-primary mb-2 float-right">Login</button>
        {% if incorrect_login %}
        <span style="color: red;">Incorrect username or password</span>
        {% endif -%}
    </form> 
</div>
  
{% endblock %}