{% extends "base.html" %}
{% from "form_helper.html" import render_field %}
{% from "form_helper.html" import render_check_field %}
{% block title %}Analyzer settings{% endblock %}
{% block page_name %}Analyzer settings{% endblock %}
{% block content %}
    <!-- Fill it-->
    <div class="container">
        <div class="row">
          <div class="col-sm">
            <!-- Replace photo by static photo-->
            <h5>Analyzer Config</h5>
            <img src="https://www.ecured.cu/images/1/11/Cielo.jpeg" class="img-fluid img-thumbnail">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <a href="#">Update mask</a>
                    </div>
                </div>
            </div>
                    
          </div>
          <div class="col-sm">
            <h5>CCD Client Config</h5>
            <form action="./settings" method="post" nocandidates>
                {{ form.hidden_tag() }}

                <p>                
                    {{ render_field(form.device_name, class='form-control input-medium', placeholder='Device Name') }}
                </p>

                <p>                
                    {{ render_field(form.exposition_time, class='form-control', placeholder='CCD Exposition Time') }}
                </p>

                <p>                
                    {{ render_field(form.gain, class='form-control', placeholder='CCD Gain') }}
                </p>
                <p>                
                    {{ render_field(form.start_time, class='form-control', placeholder='Start hour HH:SS') }}
                </p>

                <p>                
                    {{ render_field(form.end_time, class='form-control', placeholder='End hour HH:SS') }}
                </p>

                <p>                
                    {{ render_check_field(form.auto_start, class='form-control') }}
                </p>

                <p>                
                    {{ render_check_field(form.auto_config, class='form-control') }}
                </p>

                <button type="submit" class="btn btn-primary mb-2 float-right">Update Configuration</button>
            </form>
          </div>
        </div>
      </div>
{% endblock %}