{% extends "base.html" %}
{% from "form_helper.html" import render_field %}
{% from "form_helper.html" import render_check_field %}
{% block title %}Analyzer settings{% endblock %}
{% block page_name %}Analyzer settings{% endblock %}
{% block content %}
    <!-- Fill it-->
    <div class="container">
        <div class="row">
          <div class="col-sm">
            <h5>Current mask</h5>
            <img src="{{img_mask}}" class="img-fluid img-thumbnail">       
          </div>
          <div class="col-sm">
            <form action="./settings" method="post" nocandidates enctype="multipart/form-data">
                {{ form.hidden_tag() }}

                <p>                
                    {{ render_field(form.mask_path, class='form-control input-medium', placeholder='Mask file path') }}
                </p>

                <p>                
                    {{ render_field(form.mask_file) }}
                </p>

                <button type="submit" class="btn btn-primary mb-2 float-right">Update Configuration</button>
            </form>
          </div>
        </div>
      </div>
{% endblock %}