{% extends "show_photo.html" %}
{% block title %}Validate photos{% endblock %}
{% block page_name %}Validate photos{% endblock %}
{% block image_options %}

<div class="row row pt-2">
    <div class="col-sm">
        <button title="Mark the image as negative" class="btn btn-danger" onclick="imageResult(0);"> <span data-feather="trash-2"> </button>
    </div>
    <div class="col-sm">
        <button title="Mark the image as positive" class="float-right btn btn-success" onclick="imageResult(1);"> <span data-feather="check"> </button>
    </div>
</div>

{% endblock %}